.navbar {
    background-color: #00ba69;
    overflow: hidden;
    margin-bottom: 2px;
    border-color: black;
    border-bottom: 2px;
  }
  
  .navbar-links {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-links li {
    display:grid;
  }
  
  .navbar-links a, .logout-button {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  
  .navbar-links a:hover, .logout-button:hover {
    background-color: #ddd;
    color: black;
  }
  